@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
.inputStyling {
  background-color: transparent;
  height: 45px;
  outline: none;
  border-radius: 10px;
  width: 100%; 
  padding: 0 10px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #999999;
}


/* Lodaing div css  */
.loadingCircle{
  animation: loading 2s  infinite cubic-bezier(0.075, 0.82, 0.165, 2);
  box-shadow: 0px 0px 0px;
}

@keyframes loading {
  0% {
       rotate: 0deg;
  }
  100% {
       rotate: 360deg;
  }
}


.allMsgswrapper::-webkit-scrollbar{
  display: none;
}
.messageWrapper::-webkit-scrollbar{
  display: none;
}
.mainBgColor {
  background-color: #177DE0;
}
.mainColor  {
  color: #177DE0;
}